:root {
  --max-width: 1440px;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  background-color: #F5F5FA;
  font-family: Inter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter"
}

.content {
  flex-direction: column;
  padding: 50px 80px;
  max-width: var(--max-width);
  width: 100%;
}

#hero {
  background: linear-gradient(180deg, #03BDF8 0%, rgba(3, 189, 248, 0.00) 100%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero .content,
#features .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero img {
  width: 400px;
}

h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 10px 0;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 10px;
}

.screens {
  height: 500px;
  margin: 0 50px;

}

.phone-screen {
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#features {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
}

@media (max-width: 768px) {
  #hero {
    flex-direction: column;
  }
  #hero img {
    width: 300px;
  }
  .screens {
    height: 300px;
    margin: 0 20px;
  }
}

